.small-text {
  font-size: 12px;
}

.color-brand {
  color: var(--color-brand);
}

.hover-color-brand:hover {
  color: var(--color-brand);
}

.text-footer {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  // line-height: 16px;
  letter-spacing: 0;
  text-align: center;

  @media screen and (min-width: 768px) {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
  }
}

.mobile-hidden-text {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
