.hero-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    width: 238px;
    height: 101px;
    gap: 14px;
}

.button1 {
    background-color: white;
    width: 219px;
    height: 51px;
    border-radius: 32px;
    border: 2px solid rgb(43, 127, 255);
    /* настройки текста */
    font-weight: 600;
    font-family: 'roboto', sans-serif;
    color: rgb(1, 28, 68);
    transition: color 0.2s;
    cursor: pointer;
}

.button1:hover {
    background-color: var(--color-brand);
    width: 219px;
    height: 51px;
    border-radius: 32px;
    border: none;
    color: rgb(255, 255, 255);
}

.button2-procedurs {
    transform: rotate(180.00deg);
}

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    border: none;
    padding: 0;
    margin: 0;
    transition: color 0.2s;
}

.contacts-button {
    width: 299px;
    height: 56px;
    padding: 16px 32px;
    background-color: var(--color-brand);
    border-radius: 32px;
    transition: color 0.2s;
    /* налаштування тексту */
    color: rgb(255, 255, 255);
    font-family: 'roboto';
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
}

.contacts-button:hover {
    background-color: white;
    width: 299px;
    height: 56px;
    border-radius: 32px;
    border: 2px solid rgb(43, 127, 255);
    /* настройки текста */
    font-family: 'roboto';
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
    color: rgb(1, 28, 68);
}