.yak-nas {
    font-family: 'Play';
    margin-bottom: 48px;
    font-size: 64px;
    font-weight: 700;
    text-align: center;

}

.yak-nas span {
    color: var(--color-brand);
}

.contacts {
    padding-bottom: 96px;
}

.contacts-leader {
    display: flex;
    justify-content: center;
    gap: 32px;

}

/* Таблиця для дзвінка */
.head-conctacts-table {
    font-family: 'Roboto';
    color: white;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;
    width: 274px;
    height: 120px;
}

.forma-dzvinku span {
    color: var(--color-brand);
}

.forma-dzvinku {
    background-color: #011C44;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
    width: 423px;
    height: 481px;
    border-radius: 32px;

}

.table-conctacts {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: column;
}

.item-contacts {
    width: 310px;
    height: 52px;
    border: 2px solid rgb(116, 114, 114);
    border-radius: 32px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    text-align: left;
    /* розміщення тексту в бордері */
    padding: 18px 32px;
}




/* confidentiality */
.confidentiality {
    text-align: center;
    width: 213px;
    height: 36px;
    /* налаштування тексту */
    color: rgb(116, 114, 114);
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    white-space: wrap;
}

.confidentiality a {
    color: rgb(116, 114, 114);
    text-decoration: underline;
}