footer {
    background-color: #011C44;
}

.logo-in-footer {
    color: rgb(43, 127, 255);
    font-family: 'Play';
    font-size: 24px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    text-transform: capitalize;
    width: 83px;
    height: 42px;
}

/* Перелік у футері */
.footer-hover:hover {
    color: var(--color-brand);
}

.flex-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 186px;
    padding: 56px 100px;
    overflow: hidden;
    /* налаштування тексту */
}

/* лінія 2 */
.line-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    width: 203px;
}

.line-2-item {
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
}

/* лінія 3 */
.line-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    width: 203px;
}

.line-3-item {
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
}

.img-in-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

/* line 4 */
.line-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    width: 203px;
}

.line-4-item-first {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
}

.line-4-item-second {
    color: rgb(116, 114, 114);
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    text-align: left;
}

/* img in footer */
.png-in-footer {
    position: absolute;
    right: -40px;
    bottom: -50px;
}