.hero-zhinka {
    position: relative;
    top: -30px;
    left: 0px;
    z-index: 0;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 1440px;
    height: 658px;
    position: relative;
}

.background-images-upper {
    width: 1440px;
    height: 705px;
    background-image:
        url('/images/background-hero-section.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
    position: absolute;
    left: 0px;
    top: -60px;
    z-index: -2;
}

.img-pochatok {
    width: 100%;
    max-width: 1440px;
}

.hero-tittle {
    color: var(--color-brand);
    font-family: 'Play';
    font-weight: 700;
    line-height: 114px;
    font-size: 140px;
    text-align: left;
    text-transform: capitalize;
    margin: 16px 0 40px 0;
    letter-spacing: 0;

}

.main-konsultation {
    font-size: 12px;
}