.why-we-section {
    padding: 88px 0 48px 0;
}

.why-we-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.background-why-we {
    width: 1550px;
    height: 1500px;
    left: -70px;
    top: -200px;
    background-image: url(./images/background_why_we.png);
    background-size: 2000px 1500px;
    background-position: 30%;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    overflow: hidden;
}

.chomy-mi-h2 {
    font-family: 'Play';
    margin-bottom: 48px;
    font-size: 64px;
    font-weight: 700;
    width: 432px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chomy-mi-h2 span {
    color: var(--color-brand)
}

/* Картки */

.why-we-list {
    display: flex;
    gap: 56px;
    margin: 0;
}

.why-we-card {
    position: static;
    width: 316px;
    height: auto;
    max-height: none;
    text-align: center;
    align-items: center;
    padding: 24px 32px;
    border-radius: 32px;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
    background: white
}

.why-we-card p:not(:last-child) {
    margin-bottom: 15px;
}