@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');

}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');

}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

:root {
    --color-brand: rgb(43, 127, 255);
}

body {
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Навігація */
.Pro-nas {
    color: var(--color-brand);
    font-weight: 700;
}

/* 1 сектор Beaty Zone */

.hero-tittle {
    color: var(--color-brand);
    font-family: 'Play';
    font-weight: 700;
    font-size: 140px;
    text-align: left;
    text-transform: capitalize;
}

/* BUTTON Zamoviti-dzvinok */

.button1 {
    color: rgb(255, 255, 255);
    background-color: var(--color-brand);
    width: 219px;
    height: 51px;
    border-radius: 32px;
    /* настройки текста */
    font-weight: 600;
}

.button1:hover {
    font-weight: 900;
}

/* Косметологічна клініка під кнопкою */
.main-konsultation {
    font-size: 12px;
}

/* pro nas */
.pro-nas-h2 {
    font-family: 'Play';
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
}

/* Перевтілюйтесь в beaty zone */
.BeatyZone {
    color: var(--color-brand);
    line-height: 1.15;
}

.poslugi-v-p {
    font-size: 22px;
}

/* 4omy mi */
.chomy-mi-h2 {
    font-family: 'Play';
    font-size: 64px;
    font-weight: 700;
}

.obirayut-nas {
    font-family: 'Play';
    color: var(--color-brand)
}

/* Наші процедури */
.nashi-proceduri {
    font-family: 'Play';
    font-size: 64px;
    font-weight: 700;
}

.span-nashi-proceduri {
    color: var(--color-brand);
}

/* Як нас знайти */
.yak-nas {
    font-family: 'Play';
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

.znayti {
    color: var(--color-brand);
}

/* FOOTER */